input{
    width: 300px !important;
}
#inputStyle{
    height: 50px;
    border-radius: 10px;
    border: 1px solid #d4cccc;
    padding-left: 15px;
    width: 600px;
}
#inputStyle:focus{
    outline: 1px solid rgba(70, 150, 216,0.9);
    box-shadow:  5px 5px 30px rgb(70, 150, 216)
}
.errorInput{
    outline: 1px solid rgba(206, 73, 73, 0.9);
    box-shadow:  5px 5px 30px rgb(206, 73, 73);
    color: rgb(206, 73, 73);
}
@media (min-width : 400px ) {
   
}
/* .thanksUser{
    display: none !important;
    position: absolute;
    left: 254%;
    z-index: 0;
} */